html,
body {

    <!-- overflow-x: hidden; -->
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    <!-- background-image: url("backdrop.png");
    background-repeat: no-repeat;
    background-size: cover; -->
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 100px;
    align-items: center;
    left: 42%;
    top: 15%;
    margin-bottom: 5px;
}
@media screen and (max-width: 740px) {
    .glow-on-hover {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #ffffff;
      background: #000000;
      cursor: pointer;
      position: relative;
      z-index: 1;
      border-radius: 100px;
      align-items: center;
      left: 27%;
      top: 15%;
      margin-bottom: 5px;
  }
}
/* iphone se */
@media screen and (max-width: 375px) {
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 100px;
    align-items: center;
    left: 20%;
    top: 15%;
    margin-bottom: 5px;
}
}
/* iphone 12 pro */
@media screen and (max-width: 390px) {
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 100px;
    align-items: center;
    left: 21%;
    top: 15%;
    margin-bottom: 5px;
}
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 100px;
    align-items: center;
    left: 38.5%;
    top: 15%;
    margin-bottom: 5px;
}
}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(1px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 100px;
  

}

.glow-on-hover:active {
    color: #ffffff

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    left: 0;
    top: 0;
    border-radius: 100px;
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.index_title { 
  word-break: break-all; 
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  text-align: center;

 }
.my_skills_title {
  word-break: break-all; 
  position: relative;
  top: 0%;
  width: 99%;
  text-align: center;

}
.projects_of_mine_title {
  word-break: break-all; 
  position: relative;
  top: 0%;
  width: 99%;
  text-align: center;
}

.contact_me_title {
  word-break: break-all; 
  position: relative;
  top: 0%;
  width: 99%;
  text-align: center;
}
p {
  word-break: break-all; 
  position: absolute;
  top: 40%;
  width: 100%;
  left: 5%;
  text-align: left;
  font-size: 18px;
 }

.contact {
  word-break: break-all; 
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
/* iphone 12 pro */
@media screen and (max-width: 390px) {
  .contact {
    word-break: break-all; 
    position: absolute;
    top: 25%;
    left: 17%;
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}

.contact2 {
  word-break: break-all; 
  position: absolute;
  top: 42%;
  left: 0%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
@media screen and (max-width: 740px) {
  .contact2 {
    word-break: break-all; 
    position: absolute;
    top: 42%;
    left: -7%;
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}
/* iphone se */
@media screen and (max-width: 375px) {
  .contact2 {
    word-break: break-all; 
    position: absolute;
    top: 42%;
    left: -12%;
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}
/* iphone 12 pro */
@media screen and (max-width: 390px) {
  .contact2 {
    word-break: break-all; 
    position: absolute;
    top: 42%;
    left: -1%;
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .contact2 {
    word-break: break-all; 
    position: absolute;
    top: 42%;
    left: -1.5%;
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}


.contact3 {
  word-break: break-all; 
  position: absolute;
  top: 59%;
  left: 3.4%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
/* iphone 12 pro */
@media screen and (max-width: 390px) {
  .contact3 {
    word-break: break-all; 
    position: absolute;
    top: 59%;
    left: 12%;
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}

.gmaillogo {
  z-index: 0;
  position: absolute;
  top: 25%;
  left: 38%;
}
@media screen and (max-width: 740px) {
  .gmaillogo {
    z-index: 0;
    position: absolute;
    top: 25%;
    left: 10%;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .gmaillogo {
    z-index: 0;
    position: absolute;
    top: 25%;
    left: 30%;
  }
}

.linkedinlogo {
  z-index: 0;
  position: absolute;
  top: 40%;
  left: 38%;
}
@media screen and (max-width: 740px) {
  .linkedinlogo {
    z-index: 0;
    position: absolute;
    top: 40%;
    left: 10%;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .linkedinlogo {
    z-index: 0;
    position: absolute;
    top: 40%;
    left: 30%;
  }
}

.githublogo {
  z-index: 0;
  position: absolute;
  top: 58%;
  left: 38%;
}
@media screen and (max-width: 740px) {
  .githublogo {
    z-index: 0;
    position: absolute;
    top: 58%;
    left: 10%;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .githublogo {
    z-index: 0;
    position: absolute;
    top: 58%;
    left: 30%;
  }
}

.skills {
  word-break: break-all; 
  position: absolute;
  top: 20%;
  width: 100%;
  left: 5%;
  text-align: left;
  font-size: 18px;
}

img {
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 5%;
  text-align: left;

}

.coding_logos {
  z-index: 0;
  position: absolute;
  top: 45%;
  left: 40%;
}
@media screen and (max-width: 740px) {
  .coding_logos {
    z-index: 0;
    position: absolute;
    top: 55%;
    left: 20%;
  }
}
/* iphone se */
@media screen and (max-width: 375px) {
  .coding_logos {
    z-index: 0;
    position: absolute;
    top: 70%;
    left: 12%;
  }
}
/* iphone 12 pro */
@media screen and (max-width: 390px) {
  .coding_logos {
    z-index: 0;
    position: absolute;
    top: 60%;
    left: 13%;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .coding_logos {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 36%;
  }
}


.project1 {
  z-index: 0;
  position: absolute;
  top: 30%;
  left: 16%;
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 740px) {
  .project1 {
    z-index: 0;
    position: absolute;
    top: 19%;
    left: 30.5%;
    width: 200px;
    height: 200px;
  }
}
/* iphone se */
@media screen and (max-width: 375px) {
  .project1 {
    z-index: 0;
    position: absolute;
    top: 19%;
    left: 26%;
    width: 190px;
    height: 190px;
  }
}
/* iphone 12 pro */
@media screen and (max-width: 390px) {
  .project1 {
    z-index: 0;
    position: absolute;
    top: 19%;
    left: 26%;
    width: 200px;
    height: 200px;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .project1 {
    z-index: 0;
    position: absolute;
    top: 30%;
    left: 2%;
    width: 300px;
    height: 300px;
  }
}
.project2 {
  z-index: 0;
  position: absolute;
  top: 30%;
  left: 40%;
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 740px) {
  .project2 {
    z-index: 0;
    position: absolute;
    top: 46%;
    left: 30.5%;
    width: 200px;
    height: 200px;
  }
}
/* iphone se */
@media screen and (max-width: 375px) {
  .project2 {
    z-index: 0;
    position: absolute;
    top: 46%;
    left: 26%;
    width: 190px;
    height: 190px;
  }
}
/* iphone 12 pro */
@media screen and (max-width: 390px) {
  .project2 {
    z-index: 0;
    position: absolute;
    top: 46%;
    left: 26%;
    width: 200px;
    height: 200px;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .project2 {
    z-index: 0;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 300px;
    height: 300px;
  }
}
.project3 {
  z-index: 0;
  position: absolute;
  top: 30%;
  left: 64%;
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 740px) {
  .project3 {
    z-index: 0;
    position: absolute;
    top: 73%;
    left: 30.5%;
    width: 200px;
    height: 200px;
  }
}
/* iphone se */
@media screen and (max-width: 375px) {
  .project3 {
    z-index: 0;
    position: absolute;
    top: 73%;
    left: 26%;
    width: 190px;
    height: 190px;
  }
}
/* iphone 12 pro */
@media screen and (max-width: 390px) {
  .project3 {
    z-index: 0;
    position: absolute;
    top: 73%;
    left: 26%;
    width: 200px;
    height: 200px;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .project3 {
    z-index: 0;
    position: absolute;
    top: 30%;
    left: 68%;
    width: 300px;
    height: 300px;
  }
}

.white_backdrop {
  background-image: url("white_backdrop.png");
  background-size: 150px;
  width: 1050px;
  height: 1000px;
  position: absolute;
  z-index: 0;
  margin-left: 190px;
  margin-right: 40px;
  margin-top: -10px;
}
@media screen and (max-width: 740px) {
  .white_backdrop {
    background-image: url("white_backdrop.png");
    background-size: 150px;
    width: 1050px;
    height: 1000px;
    position: absolute;
    z-index: 0;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: -10px;
  }
}
/* 1920 */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .white_backdrop {
    background-image: url("white_backdrop.png");
    background-size: 150px;
    width: 1050px;
    height: 1000px;
    position: absolute;
    z-index: 0;
    margin-left: -20px;
    margin-right: 30px;
    margin-top: -10px;
  }
}

.index_text {
  word-break: break-all; 
  position: center;
  top: 40%;
  width: 100%;
  left: 0%;
  text-align: center;
  font-size: 18px;
}

.my_skills_text {
  word-break: break-all; 
  position: center;
  top: 20%;
  width: 100%;
  left: 0%;
  text-align: center;
  font-size: 18px;
}